@font-face {
    font-family: Montserrat-Regular;
    src: url('../../Fonts/Montserrat/Montserrat-Regular.ttf');
}

.mode-container {
    width: 100%;
    height: 56px;
    align-items: center;
    margin: 0px;
    justify-content: space-evenly;
}

.mode-container.active {
    background-image: linear-gradient(-135deg, #AD6BFF 0%, #74BCF7 100%);
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.15);
}

.mode-container .mode-percentage, .mode-container .mode {
    font-family: Montserrat-Regular;
    font-size: 18px;
    letter-spacing: 0.56px;
    color: #000000;
}

.mode-container .mode-percentage.active, .mode-container .mode.active {
    color: #FFFFFF;
}

.mode-container img {
    height: 24px;
    width: 24px;
}

@media only screen and (max-width: 767px) {
    .mode-percentage-wrapper {
        display: none !important;
    }
}
